.catalog {
  display: grid;
  grid-template-columns: 400px;
  grid-auto-rows: 300px;
  place-content: center;
  grid-gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    display: grid;
    place-items: center;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
