.catalog {
  display: grid;
  gap: $card-gap;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: grid;
    place-items: center;
    width: $card-width;
    height: $card-height;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
